/* BASIC STYLE */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #212529;
}

/* HEADER */
header {
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 18px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: #212529;
}

.bigimage {
  margin-top: 10px;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  border-radius: 18px;
}
.bigimage :hover {
  transform: translateY(-6px);
}

.bigimage img {
  width: 100%;
  height: clamp(150px, 45vw, 520px);
  object-fit: cover;
}

header h1 {
  color: rgb(245, 142, 7);
  margin: 10px;
}

nav a {
  margin: 80px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  color: #212529;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}
.intro {
  text-align: center;
  padding: 20px;
  background: rgb(255, 255, 255);
  margin: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

/* PRODUCT GRID */
.products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid black;
}
@media screen and (min-width: 576px){
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product {
  border: 1px solid black;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}
.product:hover {
  transform: translateY(-6px);
}
a {
  text-decoration: none;
  color: #212529;
}
a:hover {
  text-decoration: underline;
  color: rgb(15, 15, 15);
}

.product img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  text-decoration: none;
}
footer {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: #212529;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 18px;zaQ
}

footer p {
  margin: 10px;
}
.footer-links a {
  background-color: rgb(255, 255, 255);
  margin: 0 10px;
  color: #212529;
  text-decoration: none;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: underline;
}
